 .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:nowrap;
 }

.contenedor div{
   background-color: blueviolet;
   height: 300px;
}

img{
   width: 100%;
}
