body {
    margin: 0%;
}

#navegacion {
    list-style-type: none;
    background-color: #003246;
    margin-top: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

#navegacion li {
    display: inline;
}


#elpais {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 14pt;
}

#thinkbig {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
}

#textoverde {
    color: aquamarine;
}

.vinculotop:link {
    color: white;
    text-decoration: none;

}
.vinculotop:visited {
    color: white;
    text-decoration: none;
}

#imagen1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

#titulo1 {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    text-align: center;
    font-size: 50pt;
}

#subtitulo1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    text-align: center;
}
.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.letracapitular {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 150pt;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 150px;
}

.imagenpeque {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 65%;
}

.guion {
    list-style-type: none;
    margin-bottom: 20px;
}

.tituloapartado {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bolder;
}

.imagenfinal {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.creditos:link {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.creditos:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.fecha:link {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 8pt;
    font-weight: bolder;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.fecha:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 8pt;
    font-weight: bolder;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#divisor1 {
 width: 20%;
}

#trust {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    margin-top: 30px;
}

.negritasub {
    font-weight: bold;
    text-decoration: underline dotted;
}

.negritasubcur {
    font-weight: bold;
    text-decoration: underline dotted;
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}