@font-face {
    font-family: 'Thenightwatch';
    src: url('fonts/Thenightwatch') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: black;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.textoencima {
    font-family: 'Thenightwatch';
    color:white;
    font-weight: unset;
    font-size: 150px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/fondo.jpg);
    background-position: 30% 40%;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    position:static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
 }

 img {
    width: 100%;
 }

  .contenedor:hover {
    opacity: 1;
  }
  
  .textofoto {
    color: white;
    font-family: 'Thenightwatch';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


.gif {
    width: 50%;
    filter: grayscale(100%);
}

.gif:hover {
    filter: none;
}


.foto1 {
    width: 50%;
    filter: grayscale(100%);
}

.foto1:hover {
    filter: none;
}

.foto2 {
    width: 100%;
    filter: grayscale(100%);
    margin: 0%;
}

.foto2:hover {
    filter: none;
}

.foto3 {
    width: 50%;
    filter: grayscale(100%);
}

.foto3:hover {
    filter: none;
}

.foto4 {
    width: 50%;
    float: right;
    filter: grayscale(100%);
}

.foto4:hover {
    filter: none;
}

.foto5 {
    width: 100%;
    filter: grayscale(100%);
}

.foto5:hover {
    filter: none;
}

.foto6 {
    width: 50%;
    filter: grayscale(100%);
}

.foto6:hover {
    filter: none;
}

.foto7 {
    width: 50%;
    filter: grayscale(100%);
}

.foto7:hover {
    filter: none;
}

.foto8 {
    width: 100%; 
    filter: grayscale(100%);
}

.foto8:hover {
    filter: none;
}

