body {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 10%;
}

header nav {
    width: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
}

header nav img {
    width: 25px;
    margin-right: 10px;
}

header nav span {
    margin-right: 15px;
}

header nav div {
display: flex;
justify-content: space-between;
align-items: center;
}


main {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    opacity: 80%;
}


main {
    display: flex;
    justify-content: space-between;
}

h1,h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin: 0;
    font-weight: lighter;
}

#textoazul {
    color: lightskyblue;
}

button {
    background-color: lightskyblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#titulo2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

#divisor {
    width:100%;
    border-color: black;
    color: black;
}

main section #seccion2 {
    justify-content: flex-end;
    align-items: flex-end;
}

#seccion2 div {
display: flex;
align-items: center;
margin-right: 10px;
}

#seccion2 div img {
    width: 5%;
    margin: 10px;
    margin-left: 10px;
}